/*-------css-demo -------*/
/*------ Color Scheme -----
Main Color  - #F58773 

*/

/* --- Box Sizing ---*/

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /*---- Responsive Images --------*/
  img{
    max-width: 100%;
  }
/*------Utility classes-------*/
.container{
  width: 80vw;
  margin: 40px auto;


.img-right{
  float:right;
  border:5px dashed #522a2e;
  padding:4px;
  margin:10px 0 10px 20px;
  border-radius: 100px;
}

.img-left{
  float:left;
  border:5px dashed #522a2e;
  padding:4px;
  margin:10px 20px 10px 0px;
  border-radius: 100px;
}

.img-center{
 display:block;
  border:5px dashed #522a2e;
  padding:4px;
  margin:20px auto;
  border-radius: 100px;
}
}
/*-------------- Global Styles ----------*/
body {
  font-family: "Jim Nightshade", cursive;
    background-color:blanchedalmond;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='16' viewBox='0 0 84 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM30 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM10 0h2v16h-2V0zm6 0h4v16h-4V0zM2 0h4v16H2V0zm50 0h2v16h-2V0zM38 0h2v16h-2V0zm28 0h2v16h-2V0zm-8 0h6v16h-6V0zM42 0h6v16h-6V0z' fill='%2392aca4' fill-opacity='0.2' fill-rule='evenodd'/%3E%3C/svg%3E");
    
   
  }
 

main{}

header.primary{ 
    background-color:rgb(139, 146, 121);
    
background-image: url("data:image/svg+xml,%3Csvg width='84' height='16' viewBox='0 0 84 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM30 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM10 0h2v16h-2V0zm6 0h4v16h-4V0zM2 0h4v16H2V0zm50 0h2v16h-2V0zM38 0h2v16h-2V0zm28 0h2v16h-2V0zm-8 0h6v16h-6V0zM42 0h6v16h-6V0z' fill='%2392aca4' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    color:#ffffff;
    text-align: center;
    text-shadow:2px 5px 10px #000000;
/* long form */
padding-top: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-left: 40px;

/* Single value short hand*/
padding: 40px;
/* T, R,B,L*/
padding: 20px 40px 20px 40px;
/* Two value top/bottom/ L/R */
padding: 20px 40px;
}

header.primary h1{
  font-size:2.5rem;
  margin:20px 0;
}

header.primary h1 a{
  color:#522a2e;
  text-decoration:none;
  font-size: 100px;
}

header.primary h2{
  font-size:1.4rem;
  margin:0;
}

header.primary nav {
max-width: 950px;
margin:  auto;
}
header.primary nav ul{
display:flex;
flex-direction:row;
justify-content:space-around;
padding:0;
}
header.primary nav ul li{
list-style-type:none;
}
header.primary nav ul li a {
color:#522a2e;
text-decoration:none;
border:1px solid #c0c0c0;
padding:7.5px 10px;
background-color: rgba(231, 149, 149, 0.4);
border-radius:40px;
transition: 2s;
}

header.primary nav ul li a:hover{
  background-color: rgba(80, 80, 34, 0.8);
}
#content{
  line-height: 1.4;
}
#content h2{
  color:#522a2e;
  border: 5px dotted #522a2e;
  text-align:  center;
  border-radius: 100px;
}

#blog{
  display:flex;
  justify-content:space-around;
  flex-direction: row;
  gap:2rem;
  border-top: 2px dashed #522a2e;
  padding: 40px 0 0 0 ;
  border-bottom: 2px dashed #522a2e;
  
}
#blog article.post{
box-shadow:0 15px 15px rgba(231, 149, 149, 0.4);
padding:10px;
border-radius: 10px;
font-size: .8rem;
transition: .4s;
}

#blog article.post:hover{
  box-shadow:0 30px 20px rgba(231, 149, 149, 0.4);
  
  }

#blog figure{
  margin:0;
}

#blog figcaption, time.post-date{
  text-transform: uppercase;
  font-size: .6rem ;
  text-align: center ;
  color:#522a2e;
}

#blog .post a {
  color:#522a2e;
}

#practice h2{
  color:#522a2e;
  border: 5px dotted #522a2e;
  text-align:  center;
  border-radius: 100px;
}

#practice a {
  color:#522a2e;
}

#practice a:hover{
  text-decoration:none ;
}

#practice h3{
  color:#522a2e;
  border: 5px dotted #522a2e;
  text-align:  center;
  border-radius: 100px;
}


#practice h4{
  color:#522a2e;
  border: 5px dotted #522a2e;
  text-align:  center;
  border-radius: 100px;
}

table{
  background-color: #522a2e;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='16' viewBox='0 0 84 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM30 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM10 0h2v16h-2V0zm6 0h4v16h-4V0zM2 0h4v16H2V0zm50 0h2v16h-2V0zM38 0h2v16h-2V0zm28 0h2v16h-2V0zm-8 0h6v16h-6V0zM42 0h6v16h-6V0z' fill='%2392aca4' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  color:#522a2e;
 
  border: 5px dotted #522a2e;
 padding:30px;
 width:100%;
    }
    
  caption{
    color:#522a2e;
    font-size: 100px;
  font-style: oblique;
  text-align:  center;

  border-radius: 100px;
  padding:2.5px;
  
  }
  tr{
    background-color: antiquewhite;
  border: 1px dashed #522a2e;
  font-weight:bolder;
  }
  th{background-color: antiquewhite;
  border: 1px dashed #522a2e;
  padding:20px;
  font-size: 30px
  
}
tr:nth-child(even){
  background-color: rgb(139, 146, 121);
}
td:nth-child(2 ), td:nth-child(3){
  text-align: right;
 
}
tr:hover{
  background-color: #c0c0c0;
}
  td{ color:#522a2e;
    border: .5px dotted #522a2e;
  text-align: center;
  font-size:larger;
}



#practice ol {

  
  font-weight:bold;
  padding:50px;
  font-size:20px;
  border-radius: 80px;
  color:aliceblue;
  background-color: #522a2e;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 44 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23657f44' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#practice ol li:nth-child(1){
  
  background-color: #68184f;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  border-radius:150px;
}
#practice ol li:nth-child(2) {
  background-color: #3a20bb;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  border-radius:150px;
  
}

#practice ol li:nth-child(3) {
  background-color: #13590f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
}

#practice ol li:nth-child(4) {
  background-color: #590f2f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
}

#practice ol li:nth-child(5) {
  background-color: #174b8a;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  border-radius:150px;
}

#practice ol li:nth-child(6) {
  background-color: #772d2d;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  border-radius:150px;
}


#practice ul li {
  padding: 5px;
  background-color: #522a2e;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%239C92AC' fill-opacity='0.1'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
color:aliceblue;
border:5px dashed #522a2e;
  

}


#practice ul li ul {
list-style-type:square;
color:rgb(107, 109, 19);
background-color: #522a2e;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%239C92AC' fill-opacity='0.1'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
 }

 #practice dl dt{
  text-align: center;
  font-weight:bolder;
  color:#522a2e;
 }

 dl dd{
  margin: 0;
  background-color:#522a2e;
  background-size: cover;
  color:aliceblue;
  text-align:center;
 }

 dd+dt{
  margin-top:20px;
  color:#522a2e;
 }

 .kitten1{
  width:320px;
  height:300px;
  border-radius: 100px;
  border:5px dashed #522a2e;
  padding:4px;
 }
 .kitten2{
  width:320px;
  height:300px;
  border-radius: 100px;
  border:5px dashed #522a2e;
  padding:4px;
 }

 .kitten3{
  width:320px;
  height:300px;
  border-radius: 100px;
  border:5px dashed #522a2e;
  padding:4px;
 }


 .kittypoo {
  width: 200px;
  height: 200px;
  display:block;
  border:5px dashed #522a2e;
  padding:4px;
  margin:20px auto;
  border-radius: 100px;
  }

  .quote{
    text-align: center;
    font-size:30px;
  }

aside[role="complementary" ]{
  background-color: rgb(139, 146, 121);
  padding: 10px 50px;
  border-radius: 100px;
  border:#522a2e dashed 5px;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='16' viewBox='0 0 84 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M78 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM30 7V4h-2v3h-3v2h3v3h2V9h3V7h-3zM10 0h2v16h-2V0zm6 0h4v16h-4V0zM2 0h4v16H2V0zm50 0h2v16h-2V0zM38 0h2v16h-2V0zm28 0h2v16h-2V0zm-8 0h6v16h-6V0zM42 0h6v16h-6V0z' fill='%2392aca4' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

aside .container{
display:flex;
flex-direction:row;
justify-content:space-around;
gap:40px;
}

aside article.widget a {
  color:#522a2e;
  display:block;
  margin-top:20px;
  text-align: right;
}
aside article.widget footer{
  display: none;
}

#colophon {
  background-color: #522a2e;
  border-radius: 100px;
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
}

/*-----Media Queries------*/
@media screen and (max-width: 900px){

header.primary nav ul{

flex-direction:column;
gap:25px;
max-width:200px;
margin:10px auto;

}

header.primary nav a{
  display:block;
  
}
#blog{
  flex-direction: column;
}
}


