/*-------css-demo -------*/
/*------ Color Scheme -----
Main Color  - #F58773 

*/

/* --- Box Sizing ---*/

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /*---- Responsive Images --------*/
  img{
    max-width: 100%;
  }
/*------Utility classes-------*/
.container{
  width: 80vw;
  margin: 40px auto;

}
/*-------------- Global Styles ----------*/
body {
  font-family: "Jim Nightshade", cursive;
    background-color:blanchedalmond;
margin: 0;
  }

main{}

header.primary{ 
    background-color:rgb(139, 146, 121);
    color:#ffffff;
    text-align: center;
    text-shadow:2px 5px 10px #000000;
/* long form */
padding-top: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-left: 40px;

/* Single value short hand*/
padding: 40px;
/* T, R,B,L*/
padding: 20px 40px 20px 40px;
/* Two value top/bottom/ L/R */
padding: 20px 40px;
}

header.primary h1{
  font-size:2.5rem;
  margin:20px 0;
}

header.primary h1 a{
  color:#522a2e;
  text-decoration:none;
}

header.primary h2{
  font-size:1.4rem;
  margin:0;
}

header.primary nav {
max-width: 950px;
margin:  auto;
}
header.primary nav ul{
display:flex;
flex-direction:row;
justify-content:space-around;
padding:0;
}
header.primary nav ul li{
list-style-type:none;
}
header.primary nav ul li a {
color:#522a2e;
text-decoration:none;
border:1px solid #c0c0c0;
padding:7.5px 10px;
background-color: rgba(231, 149, 149, 0.4);
border-radius:40px;
transition: 2s;
}

header.primary nav ul li a:hover{
  background-color: rgba(80, 80, 34, 0.8);
}
#content{
  line-height: 1.4;
}
#content h2{
  color:#522a2e;
  border: 5px dotted #522a2e;
}

#blog{
  display:flex;
  justify-content:space-around;
  flex-direction: row;
  gap:2rem;
}
#blog article.post{
box-shadow:0 15px 15px rgba(231, 149, 149, 0.4);
padding:10px;
border-radius: 10px;
font-size: .8rem;
transition: .4s;
}

#blog article.post:hover{
  box-shadow:0 30px 20px rgba(231, 149, 149, 0.4);
  
  }

#blog figure{
  margin:0;
}

#blog figcaption, time.post-date{
  text-transform: uppercase;
  font-size: .6rem ;
  text-align: center ;
  color:#522a2e;
}

#blog .post a {
  color:#522a2e;
}

aside[role="complementary" ]{
  background:
}


/*-----Media Queries------*/
@media screen and (max-width: 900px){

header.primary nav ul{

flex-direction:column;
gap:25px;
max-width:200px;
margin:10px auto;
}

header.primary nav a{
  display:block;
}
}


